<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="ServerConnection" connectionString="Integrated Security = SSPI; server=NITROS-PC\SQLEXPRESS; database=AdventureWorksDW2014;" providerName="System.Data.SqlClient" />
    <add name="NicoConnection" connectionString="user id=nico; password=nicopass; database=AdventureWorksDW2014; server=NICO\SQLEXPRESS;" />
    <add name="SerConnection" connectionString="user id=ser; password=123456; database=AdventureWorksDW2014; server=KITKAT;" />
    <add name="DBConnection" connectionString="user id=st_fcit; password=111111; database=AdventureWorksDW; server=10.64.6.9, 1433" />
    <add name ="DefaultTask" connectionString="task.json"/>
  </connectionStrings>
</configuration>