<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="ServerConnection" connectionString="Integrated Security = SSPI; server=NITROS-PC\SQLEXPRESS; database=AdventureWorksDW2014;" providerName="System.Data.SqlClient" />
    <add name="NicoConnection" connectionString="user id=nico; password=nicopass; database=AdventureWorksDW2014; server=NICO\SQLEXPRESS;" />
    <add name="SerConnection" connectionString="user id=ser; password=123456; database=AdventureWorksDW2014; server=KITKAT" />
    <add name ="DefaultTask" connectionString="D:\task.json"/>
    <add name ="Users" connectionString="D:\student.json"/>
  </connectionStrings>
</configuration>